<section class="vc_row pt-65 pb-115 bg-dark">

    <div class="container">


 <div class="row text-center">
                                    <h2 class="text-white">
            We <img width="65" src="{{asset "img/heart.svg"}}"/>our clients!</h2>
                                </div>
                                <div class="row">
                                    <div class="lqd-column col-md-12">
                                        <div class="carousel-container carousel-nav-left carousel-nav-md carousel-dots-style1">
                                            <div class="carousel-items row" data-lqd-flickity='{"cellAlign":"left","prevNextButtons":false,"buttonsAppendTo":"self","pageDots":false,"groupCells":false,"wrapAround":true,"autoPlay":3000,"pauseAutoPlayOnHover":false}'>
                                                <div class="lqd-column carousel-item  col-md-2 col-sm-3 col-xs-4">
                                                    <figure class="neumorphic text-center opacity-02 reset-opacity-onhover">
                                                        <img src="{{asset "img/logo/seniorhelpers-200x63-1.jpeg"}}" class="mt-10 w-120 grayme" alt="Client">
                                                    </figure>
                                                </div>
                                                <!-- /.carousel-item -->
                                                <div class="lqd-column carousel-item  col-md-2 col-sm-3 col-xs-4">
                                                    <figure class="neumorphic text-center opacity-02 reset-opacity-onhover">
                                                        <img src="{{asset "img/logo/epic-business-essentials-logo-300x66.png"}}" class="grayme mt-10 w-120" alt="Client">
                                                    </figure>
                                                </div>
                                                <!-- /.carousel-item -->
                                                <div class="lqd-column carousel-item  col-md-2 col-sm-3 col-xs-4">
                                                    <figure class="neumorphic text-center opacity-02 reset-opacity-onhover">
                                                        <img src="{{asset "img/logo/hunterlab.png"}}" class="grayme mt-10 w-120" alt="Client">
                                                    </figure>
                                                </div>
                                                <!-- /.carousel-item -->
                                                <div class="lqd-column carousel-item  col-md-2 col-sm-3 col-xs-4">
                                                    <figure class="neumorphic opacity-02 carousel-nav-hover-gray text-center">
                                                        <img src="{{asset "img/logo/metabolon-1200x166.jpg"}}" class="grayme w-120" alt="Client">
                                                    </figure>
                                                </div>
                                                <!-- /.carousel-item -->
                                                <div class="lqd-column carousel-item  col-md-2 col-sm-3 col-xs-4">
                                                    <figure class="neumorphic text-center opacity-02 reset-opacity-onhover">
                                                        <img src="{{asset "img/logo/robo-negotiator.png"}}" class="grayme w-120" alt="Client">
                                                    </figure>
                                                </div>
                                                <!-- /.carousel-item -->
                                                <div class="lqd-column carousel-item  col-md-2 col-sm-3 col-xs-4">
                                                    <figure class="neumorphic text-center opacity-02 reset-opacity-onhover">
                                                        <img src="{{asset "img/logo/unliver-214x58.png"}}" class="grayme mt-10 w-120" alt="Client">
                                                    </figure>
                                                </div>
                                                <!-- /.carousel-item -->
                                                <div class="lqd-column carousel-item  col-md-2 col-sm-3 col-xs-4">
                                                    <figure class="neumorphic text-center opacity-02 reset-opacity-onhover">
                                                        <img src="{{asset "img/logo/greatclips.png"}}" class="grayme w-120" alt="Client">
                                                    </figure>
                                                </div>
                                                <!-- /.carousel-item -->
                                                <div class="lqd-column carousel-item  col-md-2 col-sm-3 col-xs-4">
                                                    <figure class="neumorphic text-center opacity-02 reset-opacity-onhover">
                                                        <img src="{{asset "img/logo/ifa.jpg"}}" class="grayme w-40" alt="Client">
                                                    </figure>
                                                </div>
                                                <!-- /.carousel-item -->
                                                <div class="lqd-column carousel-item  col-md-2 col-sm-3 col-xs-4">
                                                    <figure class="neumorphic text-center opacity-02 reset-opacity-onhover">
                                                        <img src="{{asset "img/logo/valpak_logo_h_4c_reversed-sm.png"}}" class="grayme mt-10 w-120" alt="Client">
                                                    </figure>
                                                </div>
                                                <!-- /.carousel-item -->
                                            </div>
                                            <!-- /.carousel-items row -->
                                        </div>
                                        <!-- /.carousel-container -->
                                    </div>
                                    <!-- /.col-md-12 -->
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.lqd-column col-md-12 -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.container -->
                </section>
