				
											<span class="navbar-brand-inner">
																							<a class="navbar-brand" href="{{@site.url}}" rel="home">
	<picture>
													<source srcset="{{asset "img/logosfinal/logo-full-flat-purple-white.webp"}}" type="image/webp">
													<img width="200" class="logo-default" src="{{asset "img/logosfinal/logo-full-flat-purple-white.png"}}" alt="OAKwave marketing strategy">
												</picture>	</a>									
											</span>	
							
										
                                              <!--  <picture>
													<source width="200" srcset="{{@site.url}}/assets/img/logosfinal/logo-full-stacked-purple-black.webp" type="image/webp">
													<source width="200" srcset="{{@site.url}}/assets/img/logosfinal/logo-full-stacked-purple-black.svg" type="image/svg">
													<img class="mobile-logo" width="200"  src="{{@site.url}}/assets/img/logosfinal/logo-full-stacked-purple-black.png" alt="OAKwave">
												</picture>-->		
								