							<div class="neucardcontainer mb-50 mt-10">

								<figure class="neucardimage" style="background-image: url({{feature_image}});">
								<a href="{{url}}">	<img class="neucardimage" src="{{feature_image}}" alt="Content Box"></a>
								</figure>
								
								<div>
									
									<div class="fancy-box-header">

						<span class="fancy-box-time-container"><i class="fad fa-clock"></i>{{reading_time}}</span>
<span class="fancy-box-tags-container"><i class="fad fa-tags"></i>	&nbsp;
                                        	{{#foreach tags limit="1"}}
							
							
								<a class="fancy-box-tags" href="{{url}}">{{name}}</a>
						
						{{/foreach}}</span><div class="fancybody">
										<h3><a class="text-white titlefancycard" href="{{url}}">{{title}}</a></h3>
									</div><!-- /.fancy-box-header -->
									</div>
									<div class="fancy-box-info">
										
										<p class="fancypostexcerpt"><a href="{{url}}" class="text-white">{{excerpt words="25"}}</a></p>
										
										<div class="fancy-box-footer text-center pb-30"><a href="{{url}}" class="btn white text-hover-primary smallerbtn">
												<span>
													<span class="btn-txt purple">&nbsp; Read on <i class="fas fa-arrow-circle-right"></i></span>
												</span>
											</a>
										
										</div><!-- /.fancy-box-footer -->
										
									</div><!-- /.fancy-box-info -->
									
								</div><!-- /.fancy-box-contents -->
								
							</div><!-- /.fancy-box fancy-box-travel -->
