

							<div class="fancy-box fancy-box-travel fancy-box-small" data-slideelement-onhover="true" data-slideelement-options='{ "visibleElement": ".fancy-box-header", "hiddenElement": ".fancy-box-info" }'>

								<figure class="fancy-box-image" style="background-image: url({{feature_image}});">
									<img src="{{feature_image}}" alt="Content Box">
								</figure>
								
								<div class="fancy-box-contents">
									
									<div class="fancy-box-header">
										<span class="fancy-box-time lh-2">{{reading_time}}</span>
										<h3>{{title}}</h3>
									</div><!-- /.fancy-box-header -->
									
									<div class="fancy-box-info">
										
										<p>{{excerpt characters="25"}}</p>
										
										<div class="fancy-box-footer">
										<a href="{{url}}" class="btn btn-underlined text-uppercase font-size-12 font-weight-bold ltr-sp-2 color-secondary text-hover-white">
												<span>
													<span class="btn-txt">&nbsp; Read on <i class="fas fa-arrow-circle-right"></i></span>
												</span>
											</a>
										</div><!-- /.fancy-box-footer -->
										
									</div><!-- /.fancy-box-info -->
									
								</div><!-- /.fancy-box-contents -->
								
							</div><!-- /.fancy-box fancy-box-travel -->

