<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" >
    <div class="post post-square lazy post-presentation  {{#if feature_image}}background{{else}}background-pattern{{/if}}"
        {{#if feature_image}} style="background: url('{{feature_image}}'); background-size: contain;" data-src="{{feature_image}}"{{/if}}>        <div class="gradient gradient2 d-flex align-items-center">
            <div class="post-info" style="padding: 25px;" >
                <h3 style="color: #212121 !important"><a style="color: #212121 !important" href="{{url}}">{{title}}</a></h3>
                <div class="post-tags">
                    {{#foreach tags limit="2"}}
                        <i style="color: #212121 !important" class="fad fa-tags "></i> <a style="color: #212121 !important" href="{{url}}">{{name}}</a>
                    {{/foreach}}
                </div>
            </div>
            <div class="float-bottom ">
                <i class="fad fa-clock " style="color: #212121 !important"></i>  <h3 style="font-size: small; font-family: 'Raleway' !important;"><a style="color: #212121 !important" href="{{url}}">  {{reading_time}}</a></h3>
            </div>
        </div>
    </div>
</div>