<section class="vc_row pt-100 pb-50">
				<div class="container">
					<div class="row">

						<div class="lqd-column col-md-4">

							<div class="ld-flipbox">

								<div class="ld-flipbox-wrap">
							
									<div class="ld-flipbox-face ld-flipbox-front" style="background-image: url('{{asset "/img/renderings/chesspiecelowq.webp"}}'); background-repeat: no-repeat; background-size: contain;">
							
										<span class="ld-flipbox-overlay ld-overlay" style="bg-color: #494949 !important;" ></span>
										
										<div class="ld-flipbox-inner">
											
											<h3 class="font-size-30 mt-0">MARKETING, SALES, AND GROWTH STRATEGY</h3>
											<p class="mb-0">Do you know how parents always say, "I wish there was a manual on parenting" when they mean answers to the impossible questions?</p>
											
										</div><!-- /.ld-flipbox-inner -->
										
									</div><!-- /.ld-flipbox-front -->
									
									<div class="ld-flipbox-face ld-flipbox-back">
										
										<span class="ld-flipbox-overlay ld-overlay"></span>
							
										<div class="ld-flipbox-inner">
							
																					<p class="mb-0"> <strong>That's kind of what our strategies are, except for business growth</strong>. </p><br /><p class="mb-0"> Go ahead, try to find a better marketing, sales, or growth strategy, it's right next to the Fountain of Youth and anything marketed as "free" that's actually free.</p>
</p>
										</div><!-- /.ld-flipbox-inner -->
							
									</div><!-- /.ld-flipbox-back -->
							
								</div><!-- /.ld-flipbox-wrap -->
							
							</div><!-- /.ld-flipbox -->

						</div><!-- /.lqd-column col-md-4 -->

						<div class="lqd-column col-md-4">

							<div class="ld-flipbox">

								<div class="ld-flipbox-wrap">
							
									<div class="ld-flipbox-face ld-flipbox-front" style="background-image: url('{{asset "/img/renderings/brain.png"}}'); background-repeat: no-repeat; background-size: 60%;">
							
										<span class="ld-flipbox-overlay ld-overlay bg-fade-dark-045"></span>
										
										<div class="ld-flipbox-inner">
											
											<h3 class="font-size-30 mt-0">BRAND STRATEGY, POSITIONING, AND VOICE</h3>
											<p class="mb-0">
Unifying your organization behind a single voice, position, slogan, and value proposition is critical to your success.  After all...</p>
											
										</div><!-- /.ld-flipbox-inner -->
										
									</div><!-- /.ld-flipbox-front -->
									
									<div class="ld-flipbox-face ld-flipbox-back">
										
										<span class="ld-flipbox-overlay ld-overlay"></span>
							
										<div class="ld-flipbox-inner">
							<p class="mb-0">Your brand is your foundation and a weak foundation makes for a shaky house.  We make this process painless and actually fun. </p>
							
										</div><!-- /.ld-flipbox-inner -->
							
									</div><!-- /.ld-flipbox-back -->
							
								</div><!-- /.ld-flipbox-wrap -->
							
							</div><!-- /.ld-flipbox -->

						</div><!-- /.lqd-column col-md-4 -->

						<div class="lqd-column col-md-4">

							<div class="ld-flipbox">

								<div class="ld-flipbox-wrap">
							
									<div class="ld-flipbox-face ld-flipbox-front" style="background-image: url('{{asset "/img/gears.webp"}}');"">
							
										<span class="ld-flipbox-overlay ld-overlay bg-fade-dark-045"></span>
										
										<div class="ld-flipbox-inner">
											
											<h3 class="font-size-30 mt-0">CONTENT <br />BIRTH, REBIRTH, &amp; EVOLUTION
</h3>
											<p class="mb-0">This is not your intern's SEO-packed, boring Encylopedia entry!  Your content needs to grab the attention of your target market and hold it. </p>
											
										</div><!-- /.ld-flipbox-inner -->
										
									</div><!-- /.ld-flipbox-front -->
									
									<div class="ld-flipbox-face ld-flipbox-back">
										
										<span class="ld-flipbox-overlay ld-overlay"></span>
							
										<div class="ld-flipbox-inner">
							
										<p class="mb-0">This takes a special blend of sales, marketing, and wordsmithing. We believe a hundred amazing words will change the world for your business, not a hundred mediocre articles.</p>
							
										</div><!-- /.ld-flipbox-inner -->
							
									</div><!-- /.ld-flipbox-back -->
							
								</div><!-- /.ld-flipbox-wrap -->
							
							</div><!-- /.ld-flipbox -->

						</div><!-- /.lqd-column col-md-4 -->

					</div><!-- /.row -->



							<div class="row">

						<div class="lqd-column col-md-4">

							<div class="ld-flipbox">

								<div class="ld-flipbox-wrap">
							
									<div class="ld-flipbox-face ld-flipbox-front" style="background-image: url('{{asset "/img/renderings/bombd-lowq.webp"}}'); background-repeat: no-repeat; background-size: contain;">
							
										<span class="ld-flipbox-overlay ld-overlay" style="bg-color: #494949 !important;" ></span>
										
										<div class="ld-flipbox-inner">
											
											<h3 class="font-size-30 mt-0">WEBSITE & MARTECH
</h3>
											<p class="mb-0">The base of your marketing efforts and the epicenter of your marketing effectiveness gauge.</p>
											
										</div><!-- /.ld-flipbox-inner -->
										
									</div><!-- /.ld-flipbox-front -->
									
									<div class="ld-flipbox-face ld-flipbox-back">
										
										<span class="ld-flipbox-overlay ld-overlay"></span>
							
										<div class="ld-flipbox-inner">
							
																					<p class="mb-0"> Acting as the tracking epicenter of your marketing efforts, your website's form and function will make or break marketing. We assess, rethink, and offer tactical steps to lift impact of the homebase of your efforts.</p>
</p>
										</div><!-- /.ld-flipbox-inner -->
							
									</div><!-- /.ld-flipbox-back -->
							
								</div><!-- /.ld-flipbox-wrap -->
							
							</div><!-- /.ld-flipbox -->

						</div><!-- /.lqd-column col-md-4 -->

						<div class="lqd-column col-md-8">

							<div class="ld-flipbox">

								<div class="ld-flipbox-wrap">
							
																		<div class="ld-flipbox-face ld-flipbox-front" style="background-image: url('{{asset "/img/renderings/compass-lowq.webp"}}'); background-repeat: no-repeat; background-size: contain; background-postion: bottom;">

										<span class="ld-flipbox-overlay ld-overlay bg-fade-dark-045"></span>
										
										<div class="ld-flipbox-inner">
											
											<h3 class="font-size-30 mt-0">OTHER SERVICES</h3>
											<p class="mb-0">
												For the majority of our clients, we deliver a comprehensive, holistic marketing strategy (read: blueprints for three years of brand, marketing, and sales).

</p>											
										</div><!-- /.ld-flipbox-inner -->
										
									</div><!-- /.ld-flipbox-front -->
									
									<div class="ld-flipbox-face ld-flipbox-back">
										
										<span class="ld-flipbox-overlay ld-overlay"></span>
							
										<div class="ld-flipbox-inner">
							<p class="mb-0">We follow that up with on-demand CMO-as-a-service consultation services delivered on a regular basis. For others, we offer turnkey execution and 100% project management services. </p>
							
										</div><!-- /.ld-flipbox-inner -->
							
									</div><!-- /.ld-flipbox-back -->
							
								</div><!-- /.ld-flipbox-wrap -->
							
							</div><!-- /.ld-flipbox -->

						</div><!-- /.lqd-column col-md-4 -->

					

					</div><!-- /.row -->
				</div><!-- /.container -->
			</section>
			