<header class="main-header header-fullscreen header-fullscreen-style-1 main-header-overlay">
				<div class="mainbar-wrap">

					<div class="megamenu-hover-bg"></div><!-- /.megamenu-hover-bg -->
					<div class="container-fluid mainbar-container">
						<div class="mainbar logo-light">

							<div class="row mainbar-row align-items-lg-stretch px-4">

								<div class="col logo-light">
							{{> "brand/logos"}}

								</div><!-- /.col -->

								<div class="col text-right">
									
									<div class="header-module">
										<button class="nav-trigger collapsed style-1 fill-solid scheme-light txt-left main-nav-trigger" role="button"
										 type="button" data-toggle="collapse" data-target="#main-header-collapse" aria-expanded="false" aria-controls="main-header-collapse"
										 data-changeclassnames='{ "html": "overflow-hidden" }'>
											<span class="bars">
												<span class="bar"></span>
												<span class="bar"></span>
												<span class="bar"></span>
											</span>
											<span class="txt">Menu</span>
										</button>
									</div><!-- /.header-module -->

									<div class="collapse navbar-collapse navbar-fullscreen" id="main-header-collapse" aria-expanded="false" role="tablist">
										
										<ul class="main-nav main-nav-hover-underline-1 nav align-items-lg-stretch justify-content-lg-center main-nav-hover-underline-1 main-nav-fullscreen-style-1">
											<li>
												<a href="{{@site.url}}">
													<span class="link-icon"></span>
													<span class="link-txt">
														<span class="link-ext"></span>
														<span class="txt">Home</span>
													</span>
												</a>
											</li>
											<li>
												<a href="{{@site.url}}/about">
													<span class="link-icon"></span>
													<span class="link-txt">
														<span class="link-ext"></span>
														<span class="txt">About</span>
													</span>
												</a>
											</li>
											<li>
												
												<a href="{{@site.url}}/schedule-a-call">
													<span class="link-icon"></span>
													<span class="link-txt">
														<span class="link-ext"></span>
														<span class="txt">Marketing Strategy</span>
													</span>
												</a>
											</li>
											<li>
												<a href="{{@site.url}}/blog">
													<span class="link-icon"></span>
													<span class="link-txt">
														<span class="link-ext"></span>
														<span class="txt">Blog</span>
													</span>
												</a>
											</li>
											<li>
										
												<a href="{{@site.url}}/schedule">
													<span class="link-icon"></span>
													<span class="link-txt">
														<span class="link-ext"></span>
														<span class="txt">Schedule A Call</span>
													</span>
												</a>
											</li>
											<li>
												<a href="#">
													<span class="link-icon"></span>
													<span class="link-txt">
														<span class="link-ext"></span>
														<span class="txt">Contact</span>
													</span>
												</a>
											</li>
										</ul>

										<div class="header-module">
											{{> "brand/social-icons"}}
										</div><!-- /.header-module -->

									</div><!-- /.collapse -->

								</div><!-- /.col -->

							</div><!-- /.mainbar-row -->
						</div><!-- /.mainbar -->
					</div><!-- /.mainbar-container -->
				</div><!-- /.mainbar-wrap -->

			</header><!-- /.main-header -->
