
						<aside class="main-sidebar">
<picture>
  <source srcset="{{asset "img/renderings/cthulu.webp"}}" type="image/webp">
  <img  width="700" class="img-fluid metalpurple" src="{{asset "img/renderings/cthulu.png"}}" alt="OAKwave marketing strategy">
</picture>								<div class="widget widget_categories">
								<h3 class="widget-title">Tags</h3>
								<ul class="text-white">
									{{#get 'tags' limit='all' include='count.posts' order='count.posts desc'}}


                    {{#foreach tags}}
                    									<li><a class="text-white whitish" href="{{url}}">{{name}} </a>     ({{plural ../pagination.total empty='posts' singular='% post' plural='% posts'}})
 </li>    {{/foreach}}{{/get}}
          
								</ul>
							</div><!-- /.widget_categories -->

								
<h3 class="widget-title text-white"> Get updates by email </h3>               <p>   <small>We promise to only send the juciest of emails.  seriously.  our emails rock.</small></p>
<div style="width: 95%;">
           <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
<script>
  hbspt.forms.create({
	portalId: "6942704",
	formId: "5eb99b16-2a74-4a05-99e7-a70bb0b34e2b"
});
</script></div>
						</aside>

