{{!< default}}
   {{#contentFor "styles"}}
   {{/contentFor}}
   {{#contentFor "scripts"}}
  	 	<script src="{{asset "js/theme-vendors.js"}}"></script>
   		<script src="{{asset "js/theme.min.js"}}"></script>
	{{/contentFor}}
		<div class="titlebar titlebar-sm scheme-light text-center"  data-parallax="true" data-parallax-options='{ "parallaxBG": true }' style="background-image: url({{asset "img/bgfull.png"}});">
{{navigation}}
<div class="titlebar-inner">
				<div class="container titlebar-container">
					<div class="row titlebar-container">
						<div class="titlebar-col col-md-12">
							<h1 data-fittext="true" data-fittext-options='{ "maxFontSize": 80, "minFontSize": 32 }'>Ready to Tame Your Marketing Monsters?</h1>																

						</div><!-- /.titlebar-col -->
					</div><!-- /.titlebar-row -->
		

				</div><!-- /.titlebar-container -->
				
			</div><!-- /.titlebar-inner -->
			
		</div><!-- /.titlebar -->


		<main id="content" class="content py-0">

			<article class="blog-single scheme-light liquid-blog-scheme-light bg-dark">
				
				<div class="container">
			

							<div class="blog-single-content entry-content expanded pb-8 bg-dark">
	<section class="vc_row pt-60 pb-60 bg-dark text-white">
				<div class="container bg-dark">
					<div class="row">

						<div class="lqd-column col-md-6 text-white">

							<header class="text-white fancy-title">
                                <p class="text-white text-center"><picture>
  <source srcset="{{asset "img/formerlywooden.webp"}}" type="image/webp">
  <img width="300" align="center" class="img-fluid img-center my-auto" src="{{asset "img/formerlywooden.png"}}" alt="OAKwave marketing strategy">
</picture>	</p>
								
								<p class="text-white mt-0">We are located in the better half of our namesake, <br />
                                the City of Oaks, Raleigh, NC.</p>
                                <h4 class="text-white pl-5">We <img width="65" src="{{asset "img/heart.svg"}}"/> Raleigh!</h4>
<p class="text-white"><i class="fad fa-map-marker-smile"></i>&nbsp; 10324-Suite B Baileywick Road <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Raleigh, NC 27613</p>
<p  class="text-white"><i class="fad fa-phone"></i> &nbsp; 919.823.4333</p>
<p  class="text-white"><i class="fad fa-envelope-open-text"></i> &nbsp; hello@oakwave.com</p>
<span class="purple" style="color: #6c5ba7 !important;">{{> "brand/social-icons"}}</span>
</p>
							</header><!-- /.fancy-title -->

					</div>
								<div class="lqd-column col-md-6 text-white"><div class="neumorphic">
<h2 class="mb-2 text-white">Drop us a line</h2>
								<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
<script>
  hbspt.forms.create({
	portalId: "6942704",
	formId: "a3a7c11e-a3cf-49ef-a2db-c4fc06661811"
});
</script>
</div>
								</div><!-- /.lqd-column col-md-9 -->
							</div><!-- /.row -->

						</div><!-- /.lqd-column col-md-6 -->

					</div><!-- /.row -->
				</div><!-- /.container -->
			</section>



						
					<!-- /.blog-single-content entry-content -->
					

						
						</div>
							



				</div><!-- /.comments-area -->


			</article><!-- /.blog-single -->

		</main><!-- /#content.content -->



